{% extends "base.html" %}
{% block content%}
<section id="dog-overview">
    <div id="dog-outer">
        <div id="dog-image"></div>
    </div>
    <h2 id="dog-overview-header">Dogs available for adoption</h2>
    <div class="dog-grid">
        <div class="dog-container">
            <img class="dog-foto" alt="Big black dog for adoption" src="assets/images/dog-big-black.jpg">
            <div class="dog-text">
                <p class="dog-name">Rafa</p>
            <button class="dog-adopt-button">Adopt me</button>
            </div>
        </div>
        <div class="dog-container">
            <img class="dog-foto" alt="Goldenbrown puppy for adoption" src="assets/images/puppy-goldbrown.jpg">
            <div class="dog-text">
                <p class="dog-name">Vanilla</p>
            <button class="dog-adopt-button">Adopt me</button>
            </div>
        </div>
        <div class="dog-container">
            <img class="dog-foto" alt="Big brownblack dog for adoption" src="assets/images/dog-big-brownblack.jpg">
            <div class="dog-text">
                <p class="dog-name">Coco</p>
            <button class="dog-adopt-button">Adopt me</button>
            </div>
        </div>
        <div class="dog-container">
            <img class="dog-foto" alt="Medium black-brown-white dog for adoption" src="assets/images/dog-medium-black-brown-white.jpg">
            <div class="dog-text">
                <p class="dog-name">Coffee</p>
            <button class="dog-adopt-button">Adopt me</button>
            </div>
        </div>
        <div class="dog-container">
            <img class="dog-foto" alt="Medium black dog for adoption" src="assets/images/dog-medium-black.jpg">
            <div class="dog-text">
                <p class="dog-name">Bubble</p>
            <button class="dog-adopt-button">Adopt me</button>
            </div>
        </div>
        <div class="dog-container">
            <img class="dog-foto" alt="blackwhite puppy for adoption" src="assets/images/puppy-blackwhite.jpg">
            <div class="dog-text">
                <p class="dog-name">Mateo</p>
            <button class="dog-adopt-button">Adopt me</button>
            </div>
        </div>      
    </div>
</section>
<section id="signup">
    <div id="signup-text">
        <h2>Still looking?</h2>
        <h3>Sign up to get notified for upcoming available dogs!</h3>
        <a class="signup-bottom" href="signup.html">SIGN UP</a>
    </div>
</section>
<section id="story-overview">
    <h2 id="story-overview-header">Our Happy Stories</h2>
    <div class="story-grid">
        <div class="story-container">
            <img class="story-foto" alt="girl smilling next to her pitbull" src="assets/images/bike-dog.jpg">
        </div>
        <div class="story-container">
            <img class="story-foto" alt="woman hugging her happy dog" src="assets/images/army-dog.jpg">
        </div>    
    </div>
</section>
{% endblock %}