{% extends "base.html" %}
{% block content%}
        <section class="form-section">
            <form method="POST" action="https://formdump.codeinstitute.net/" class="signup-form">
                <h2>Let's get you signed up! <i class="fas fa-heartbeat"></i></h2>
                <label for="fname">First Name</label>
                <input id="fname" name="first_name" type="text" class="text-input" required>
                
                <label for="lname">Last Name</label>
                <input id="lname" name="last_name" type="text" class="text-input" required>
                
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email_address" class="text-input" required>
                
                <label for="phone">Phone Number</label>
                <input type="tel" id="phone" name="phone" class="text-input" required>

                <label for="dname">Dog Name (optional)</label>
                <input id="dname" name="dog_name" type="text" class="text-input">

                <input class="adopt-button" type="submit" value="I want to adopt">
            </form>
        </section>
{% endblock %}