@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family:fira, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* header */

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
    position: relative;
}

header video {
    display: flex;
    position: relative;
    width: 100%;
}

/* video */

.wrapper-main {
    width: 900px;
    margin: 0 auto;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

/*dog-image section*/

#dog-overview {
    height: 600px;
}

/* #dog-outer {
    overflow: hidden;
    width: 100%;
    border-color: #252525;
    border-top: solid;
    border-bottom:solid;
    border-width: 4px;
}

#dog-image {
    height: 180px;
    width: 100%;
    background: url('../images/banner_v8.jpg') no-repeat center center;
    background-position: center;
    background-size: cover;
} */

#dog-overview-header {
    text-align: center;
    margin: 5px 0;
    font-size: 220%;
}

.dog-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
}

.dog-container {
    width: 100%;
    float: left;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    max-width: 190px;
    font-weight: bold;
    border-color: rgb(210, 201, 201);
}

.dog-container button {
    font-weight: bold;
}

.dog-container :hover {
    background-color:rgb(238, 185, 88);
}

.dog-text {
    margin-top: -4px;
}

.dog-foto {
    width: 100%;
    height: 190px;
}

.dog-container .dog-foto, .dog-name, .dog-adopt-button {
    cursor: pointer;
}

.dog-name, .dog-adopt-button {
    background-color: inherit;
    color: #252525;
    font-size: 16px;
    font-family:fira, sans-serif;
}

/*Sign up section */

#signup {
    height: 200px;
}

#signup-text {
    text-align: center;
    margin: 5px 0;
    background-color: rgb(86, 183, 107);
    height: 100%;
}

#signup-text h2, h3 {
    padding-top: 10px;
    font-size: 220%;
}

#signup-text h3 {
    padding-top: 10px;
    font-size: 150%;
}

.signup-bottom {
    background-color: rgb(210, 201, 201);
    border: 1px;
    padding: 15px 30px;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 2px;
    text-decoration: none;
    line-height: 75px;
    color: black;
    font-family:fira, sans-serif;
}

.signup-bottom:hover {
    background-color:rgb(238, 185, 88);
    cursor: pointer;
}

/*Our happy stories section*/

#story-overview {
    height: 470px;
}

#story-overview-header {
    text-align: center;
    font-size: 220%;
    margin: 5px;
}

.story-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
}

.story-container {
    float: left;
    border: 2px solid white;
    box-sizing: border-box;
    height: 400px;
}

.story-foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

/* footer */

footer {
    background-color: rgb(238, 185, 88);
    text-align: center;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
    right: 0;
}

footer span {
    font-weight: bold;
}

footer > a {
    color: gray;
    text-decoration: none;
    padding: 0 15px;
}

/* dogs */

#dogs-dog-overview {
    clear: both;
    height: 800px;
}

#dogs-header {
    background-color: rgb(86, 183, 107);
}

#dogs-dog-overview-header {
    text-align: center;
    margin: 5px 0;
    font-size: 220%;
}

#dogs-dog-outer {
    overflow: hidden;
    width: 100%;
}

.dogs-dog-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
}

.dogs-dog-container {
    width: 100%;
    float: left;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    max-width: 190px;
    font-weight: bold;
    border-color: rgb(210, 201, 201);
}

.dogs-dog-container button {
    font-weight: bold;
}

.dogs-dog-container :hover {
    background-color:rgb(238, 185, 88);
}

.dogs-dog-text {
    margin-top: -4px;
}

.dogs-dog-foto {
    width: 100%;
    height: 190px;
}

.dogs-dog-container .dogs-dog-foto, .dogs-dog-name, .dogs-dog-adopt-button {
    cursor: pointer;
}

.dogs-dog-name, .dogs-dog-adopt-button {
    background-color: inherit;
    color: #252525;
    font-size: 16px;
    font-family:fira, sans-serif;
}

/* Sign Up Site*/

.form-section {
    clear: left;
    background: url("../images/signip_page.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color:#fafafa;
    margin-bottom: 20px;
}

.text-input {
    background:transparent;
    color:#fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.adopt-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(86, 183, 107);
    color: #fafafa;
    display: block;
    font-family:fira, sans-serif;
}

.adopt-button:hover {
    background-color: #fafafa;
    color: rgb(86, 183, 107);
    cursor: pointer;
}

/* media queries */
/* For larger to medium screens size from 1100px wide and down */
@media screen and (max-width: 1100px) {
    #dog-overview {
        height: 850px;
    }

    .dog-grid {
        grid-template-columns: 1fr 1fr 1fr;
        width: 65%;
        margin: 0 auto;
    }

    #story-overview {
        height: auto;
        margin-bottom: 10px;
    }

    .story-grid {
        grid-template-columns: 1fr;
        width: 95%;
        margin: 0 auto;
    }

    #dogs-dog-overview {
        height: 1550px;
    }

    .dogs-dog-grid {
        grid-template-columns: 1fr 1fr 1fr;
        width: 65%;
        margin: 0 auto;
    }


}

/* For medium screen sizes from 900px wide and down */
@media screen and (max-width: 900px) {
    #dog-overview {
        height: 1080px;
    }

    .dog-grid {
        grid-template-columns: 1fr 1fr;
        width: 85%;
        margin: 0 auto;
    }

    #dogs-dog-overview {
        height: 2320px;
    }

    .dogs-dog-grid {
        grid-template-columns: 1fr 1fr;
        width: 85%;
        margin: 0 auto;
    }
}

/* For medium screen sizes from 700px wide and down */
@media screen and (max-width: 700px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    header {
        height: 100px;
    }

    #dog-overview {
        height: 1030px;
    }
}

/* For medium screen sizes from 600px wide and down */
@media screen and (max-width: 600px) {
    #dog-overview {
        height: 1080px;
    }

    #signup {
        height: 220px;
    }

    #signup-text h3 {
        width: 90%;
        margin: 0 auto;
    }

    #dog-overview-header, #dogs-dog-overview-header {
        width: 75%;
        margin: 0 auto;
    }

    #dogs-dog-overview {
        height: 2400px;
    }

    .story-container {
        height: auto;
    }
}

/* For medium screen sizes from 400px wide and down */
@media screen and (max-width: 400px) {
    #dog-overview {
        height: 1100px;
    }
    
    #story-overview-header {
        width: 90%;
        margin: 0 auto;
    }

    footer {
        font-size: 12px;
    }
}