@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

#dog-image {
    height: 300px;
    width: 100%;
    background: url('../images/dog-center.jpg') no-repeat center center;
}