@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family:fira, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*dog-image section*/

#dog-overview {
    height: 600px;
}

#dog-outer {
    overflow: hidden;
    width: 100%;
}

#dog-image {
    height: 180px;
    width: 100%;
    background: url('../images/dog-center.jpg') no-repeat center center;
}

#dog-overview-header {
    text-align: center;
    margin: 5px 0;
    font-size: 250%;
}

.dog-container {
    width: 20%;
    float: left;
    padding: 0px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

.dog-foto {
    width: 100%;
    max-height: 190px;
    max-width: 190px;
}

/*Sign up section */

#signup {
    height: 180px;
}

#signup-text {
    text-align: center;
    margin: 5px 0;
    background-color: green;
    height: 100%;
}

#signup-text h2, h3 {
    padding-top: 10px;
    font-size: 250%;
}

#signup-text h3 {
    padding-top: 10px;
    font-size: 150%;
}

#signup-text button {
    background-color: rgb(210, 201, 201);
    border: 1px;
    padding: 15px 30px;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 5px;
}

/*Our happy stories section*/

#story-overview {
    height: 470px;
}

#story-overview-header {
    text-align: center;
    font-size: 250%;
    margin: 5px;
}

.story-container {
    width: 50%;
    float: left;
    padding: 0px 0 0 20px;
    border: 2px solid white;
    box-sizing: border-box;
    height: 400px;
}

.story-foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    background-color: orange;
    padding: 16px;
    text-align: center;
    width: 100%;
    bottom: 0;
    right: 0;
}

footer > a {
    color: gray;
    text-decoration: none;
    padding: 0 15px;
}