<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Adogme portal for dog adoption in Bucaramanga, Colombia">
    <meta name="keywords" content=" Adogme, dog adoption, Bucaramanga, Colombia">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <title>Adogme</title>
</head>
<body>
    <header>
        <a href="{{ url_for('index')}}">
            <h1 id="logo">
                Adogme
            </h1>
        </a>
        <nav>
            <ul id="menu">
                <li><a href="{{ url_for('signup')}}">Sign Up</a></li>
                <li><a href="{{ url_for('dogs')}}">Dogs</a></li>
                <li><a href="{{ url_for('index')}}" class="active">Home</a></li>
            </ul>
        </nav>
    </header>
    <hr>
    <div class="content">
        <div id="dog-outer">
            <div id="dog-image"></div>
        </div>
        {% block content %} {% endblock %}
    </div>
    <section id="signup">
        <div id="signup-text">
            <h2>Still looking?</h2>
            <h3>Sign up to get notified for upcoming available dogs!</h3>
            <a class="signup-bottom" href="{{ url_for('signup')}}">SIGN UP</a>
        </div>
    </section>
    <section id="story-overview">
        <h2 id="story-overview-header">Our Happy Stories</h2>
        <div class="story-grid">
            <div class="story-container">
                <img class="story-foto" alt="girl smilling next to her pitbull" src="../static/images/bike-dog.jpg">
            </div>
            <div class="story-container">
                <img class="story-foto" alt="woman hugging her happy dog" src="../static/images/army-dog.jpg">
            </div>    
        </div>
    </section>
    <hr>
    <footer>
        <span>Find us on:</span>
        <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Find us on Facebook (link opens in a new tab)">Facebook</a>
        <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Find us on Instagram (link opens in a new tab)">Instagram</a>
        <a href="https://www.twitter.com" target="_blank" rel="noopener" aria-label="Find us on Twitter (link opens in a new tab)">Twitter</a>
    </footer>
</body>
</html>