{% extends "base.html" %}
{% block content%}
<section id="dogs-dog-overview">
    <div id="dogs-header">
        <h2 id="dogs-dog-overview-header">Dogs available for adoption</h2>
    </div>
    <div class="dogs-dog-grid">
        <div class="dogs-dog-container">
            <img class="dogs-dog-foto" alt="Big black dog for adoption" src="../static/images/dog-big-black.jpg">
            <div class="dogs-dog-text">
                <p class="dogs-dog-name">Rafa</p>
            <button class="dogs-dog-adopt-button">Adopt me</button>
            </div>
        </div>
        <div class="dogs-dog-container">
            <img class="dogs-dog-foto" alt="Goldenbrown puppy for adoption" src="../static/images/puppy-goldbrown.jpg">
            <div class="dogs-dog-text">
                <p class="dogs-dog-name">Vanilla</p>
            <button class="dogs-dog-adopt-button">Adopt me</button>
            </div>
        </div>
        <div class="dogs-dog-container">
            <img class="dogs-dog-foto" alt="Big brownblack dog for adoption" src="../static/images/dog-big-brownblack.jpg">
            <div class="dogs-dog-text">
                <p class="dogs-dog-name">Coco</p>
            <button class="dogs-dog-adopt-button">Adopt me</button>
            </div>
        </div>
        <div class="dogs-dog-container">
            <img class="dogs-dog-foto" alt="Medium black-brown-white dog for adoption" src="../static/images/dog-medium-black-brown-white.jpg">
            <div class="dogs-dog-text">
                <p class="dogs-dog-name">Coffee</p>
            <button class="dogs-dog-adopt-button">Adopt me</button>
            </div>
        </div>
        <div class="dogs-dog-container">
            <img class="dogs-dog-foto" alt="Medium black dog for adoption" src="../static/images/dog-medium-black.jpg">
            <div class="dogs-dog-text">
                <p class="dogs-dog-name">Bubble</p>
            <button class="dogs-dog-adopt-button">Adopt me</button>
            </div>
        </div>
        <div class="dogs-dog-container">
            <img class="dogs-dog-foto" alt="blackwhite puppy for adoption" src="../static/images/puppy-blackwhite.jpg">
            <div class="dogs-dog-text">
                <p class="dogs-dog-name">Mateo</p>
            <button class="dogs-dog-adopt-button">Adopt me</button>
            </div>
        </div>
        <div class="dogs-dog-container">
            <img class="dogs-dog-foto" alt="Big brownwhite dog for adoption" src="../static/images/dog-big-brownwhite.jpg">
            <div class="dogs-dog-text">
                <p class="dogs-dog-name">Annie</p>
            <button class="dogs-dog-adopt-button">Adopt me</button>
            </div>
        </div>
        <div class="dogs-dog-container">
            <img class="dogs-dog-foto" alt="Big greywhite dog for adoption" src="../static/images/dog-big-greywhite.jpg">
            <div class="dogs-dog-text">
                <p class="dogs-dog-name">Bella</p>
            <button class="dogs-dog-adopt-button">Adopt me</button>
            </div>
        </div>
        <div class="dogs-dog-container">
            <img class="dogs-dog-foto" alt="Big whiteblack dog for adoption" src="../static/images/dog-big-whiteblack.jpg">
            <div class="dogs-dog-text">
                <p class="dogs-dog-name">Cookie</p>
            <button class="dogs-dog-adopt-button">Adopt me</button>
            </div>
        </div>
        <div class="dogs-dog-container">
            <img class="dogs-dog-foto" alt="Medium brown dog for adoption" src="../static/images/dog-medium-brown.jpg">
            <div class="dogs-dog-text">
                <p class="dogs-dog-name">Daisy</p>
            <button class="dogs-dog-adopt-button">Adopt me</button>
            </div>
        </div>
        <div class="dogs-dog-container">
            <img class="dogs-dog-foto" alt="Big goldenbrown dog for adoption" src="../static/images/dog-goldenbrown.jpg">
            <div class="dogs-dog-text">
                <p class="dogs-dog-name">Bruno</p>
            <button class="dogs-dog-adopt-button">Adopt me</button>
            </div>
        </div>
        <div class="dogs-dog-container">
            <img class="dogs-dog-foto" alt="Medium whitebrown dog for adoption" src="../static/images/dog-medium-whitebrown.jpg">
            <div class="dogs-dog-text">
                <p class="dogs-dog-name">Elsa</p>
            <button class="dogs-dog-adopt-button">Adopt me</button>
            </div>
        </div>
        <div class="dogs-dog-container">
            <img class="dogs-dog-foto" alt="Small brown dog for adoption" src="../static/images/dog-small-brown.jpg">
            <div class="dogs-dog-text">
                <p class="dogs-dog-name">Cooper</p>
            <button class="dogs-dog-adopt-button">Adopt me</button>
            </div>
        </div>
        <div class="dogs-dog-container">
            <img class="dogs-dog-foto" alt="Small brownwhite dog for adoption" src="../static/images/dog-small-brownwhite.jpg">
            <div class="dogs-dog-text">
                <p class="dogs-dog-name">Tokyo</p>
            <button class="dogs-dog-adopt-button">Adopt me</button>
            </div>
        </div>
        <div class="dogs-dog-container">
            <img class="dogs-dog-foto" alt="Small coffee-color dog for adoption" src="../static/images/dog-small-coffee.jpg">
            <div class="dogs-dog-text">
                <p class="dogs-dog-name">Heidy</p>
            <button class="dogs-dog-adopt-button">Adopt me</button>
            </div>
        </div>
        <div class="dogs-dog-container">
            <img class="dogs-dog-foto" alt="Small white dog for adoption" src="../static/images/dog-small-white.jpg">
            <div class="dogs-dog-text">
                <p class="dogs-dog-name">Juno</p>
            <button class="dogs-dog-adopt-button">Adopt me</button>
            </div>
        </div>
        <div class="dogs-dog-container">
            <img class="dogs-dog-foto" alt="Brown-white puppy" src="../static/images/puppy-brownwhite.jpg">
            <div class="dogs-dog-text">
                <p class="dogs-dog-name">Lia</p>
            <button class="dogs-dog-adopt-button">Adopt me</button>
            </div>
        </div>
        <div class="dogs-dog-container">
            <img class="dogs-dog-foto" alt="White-brown puppy" src="../static/images/puppy-whitebrown.jpg">
            <div class="dogs-dog-text">
                <p class="dogs-dog-name">Milo</p>
            <button class="dogs-dog-adopt-button">Adopt me</button>
            </div>
        </div>    
    </div>
</section>
{% endblock %}